@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap");
a {
  text-decoration: none;
}

ul {
  margin-left: 0;
}

body {
  background-color: #c3cfe2;
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  max-width: 1400px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  grid-row-gap: 30px;
  grid-column-gap: 30px;
  padding: 30px;
}

footer {
  text-align: center;
  padding: 30px;
}

@media screen and (min-width: 767px) and (max-width: 1023px) {
  .container {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
  .container .testimonial {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
  }
  .container .testimonial:nth-child(even) {
    -ms-grid-column: 3;
    -ms-grid-column-span: 2;
    grid-column: 3/5;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
  .container .testimonial:nth-child(3n + 1) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }
  .container .testimonial:nth-child(3n + 2) {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
  }
  .container .testimonial:nth-child(3n + 3) {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3/4;
  }
}

header {
  background: #ffffff;
  text-align: center;
  padding: 15px;
  -webkit-box-shadow: 0px 0px 13px 3px rgba(112, 112, 112, 0.3);
  box-shadow: 0px 0px 13px 3px rgba(112, 112, 112, 0.3);
  margin-bottom: 30px;
}

header h1 {
  font-size: 20px;
  text-transform: uppercase;
}

.testimonial {
  grid-column: 1/-1;
  width: 100%;
  background-color: #ffffff;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 13px 3px rgba(112, 112, 112, 0.3);
  box-shadow: 0px 0px 13px 3px rgba(112, 112, 112, 0.3);
  line-height: 1.6;
  -ms-grid-column-align: center;
      justify-self: center;
  margin-bottom: 7.5px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  position: relative;
}

.testimonial__text {
  padding: 37.5px 37.5px 80px 37.5px;
  color: #555555;
  font-weight: 500;
  font-size: 18px;
}

.testimonial__text p {
  margin: 0;
}

.testimonial__author {
  padding: 70px 37.5px 37.5px 37.5px;
  background-color: #686de0;
  border-radius: 0px 0px 10px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.testimonial__author-image {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: -60px;
  border: 5px solid #ffffff;
}

.testimonial__author-name {
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 20px;
  margin: 0;
}

.testimonial__author-site {
  color: #b3b6eb;
  font-weight: 600;
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

.testimonial__author-site:hover {
  color: #ffffff;
}

.testimonial__overlay {
  border-radius: 10px;
  content: "";
  color: #ffffff;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.testimonial__overlay:hover {
  background-color: #686de0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.testimonial__overlay:hover::after {
  content: "Read more";
  cursor: pointer;
  background-color: #ffffff;
  color: #686de0;
  padding: 8px 15px;
  border-radius: 20px;
}

.testimonial__overlay:hover::after:hover {
  border: 1px solid #ffffff;
  background-color: transparent;
}

.socials {
  background-color: #ffffff;
  color: #686de0;
  position: fixed;
  right: 0;
  top: 50%;
  width: 50px;
  height: 260px;
  z-index: 10;
  border-radius: 20px 0px 0px 20px;
  -webkit-box-shadow: 0px 0px 13px 3px rgba(112, 112, 112, 0.3);
  box-shadow: 0px 0px 13px 3px rgba(112, 112, 112, 0.3);
}

.socials__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.socials__inner a {
  padding: 24px 15px;
  color: #686de0;
  margin: 0 auto;
  width: 20px;
}

.socials__inner a:hover {
  color: #c3cfe2;
}

.socials .facebook::before {
  font-family: "Font Awesome 5 Brands";
  font-weight: normal;
  content: "\f39e";
  padding-right: 15px;
  font-weight: 900;
  font-size: 20px;
  position: absolute;
  -webkit-transition: -webkit-transform 250ms;
  transition: -webkit-transform 250ms;
  transition: transform 250ms;
  transition: transform 250ms, -webkit-transform 250ms;
}

.socials .facebook:hover::before {
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
}

.socials .linkedin::before {
  font-family: "Font Awesome 5 Brands";
  font-weight: normal;
  content: "\f0e1";
  padding-right: 15px;
  font-weight: 900;
  font-size: 20px;
  position: absolute;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.socials .linkedin:hover::before {
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
}

.socials .twitter::before {
  font-family: "Font Awesome 5 Brands";
  font-weight: normal;
  content: "\f099";
  padding-right: 15px;
  font-weight: 900;
  font-size: 20px;
  position: absolute;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.socials .twitter:hover::before {
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
}

.socials .github::before {
  font-family: "Font Awesome 5 Brands";
  font-weight: normal;
  content: "\f113";
  padding-right: 15px;
  font-weight: 900;
  font-size: 20px;
  position: absolute;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.socials .github:hover::before {
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
}

.socials .website::before {
  font-family: "Font Awesome 5 Free";
  font-weight: normal;
  content: "\f109";
  padding-right: 15px;
  font-weight: 900;
  font-size: 20px;
  position: absolute;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.socials .website:hover::before {
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
}
/*# sourceMappingURL=style.css.map */