// testimonial
.testimonial {
    grid-column: 1/-1;
    width: 100%;
    background-color: $color-white;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 13px 3px rgba(112, 112, 112, 0.3);
    -moz-box-shadow: 0px 0px 13px 3px rgba(112, 112, 112, 0.3);
    box-shadow: 0px 0px 13px 3px rgba(112, 112, 112, 0.3);
    line-height: 1.6;
    justify-self: center;
    margin-bottom: $space-s;
    transition: all 0.3s ease-in-out;
    position: relative;
    &__text {
        padding: $space-xl $space-xl 80px $space-xl;
        color: $color-dark-grey;
        font-weight: 500;
        font-size: $font-size-m;
        p {
            margin: 0;
        }
    }
    &__author {
        padding: 70px $space-xl $space-xl $space-xl;
        background-color: $color-blue;
        border-radius: 0px 0px 10px 10px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        &-image {
            width: 100px;
            height: 100px;
            border-radius: 100px;
            object-fit: cover;
            position: absolute;
            top: -60px;
            border: 5px solid $color-white;
        }
        &-name {
            color: $color-white;
            text-transform: uppercase;
            font-weight: 600;
            font-size: $font-size-l;
            margin: 0;
        }
        &-site {
            color: $color-light-purple;
            font-weight: 600;
            transition: color 0.3s ease-in-out;
            &:hover {
                color: $color-white;
            }
        }
    }
    &__overlay {
        border-radius: 10px;
        content: "";
        color: $color-white;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
        transition: 0.5s;
        &:hover {
            background-color: $color-blue;
            display: flex;
            justify-content: center;
            align-items: center;
            &::after {
                content: "Read more";
                cursor: pointer;
                background-color: $color-white;
                color: $color-blue;
                padding: 8px $space;
                border-radius: 20px;
                &:hover {
                    border: 1px solid $color-white;
                    background-color: transparent;
                }
            }
        }
    }
}